[submodule "BitMagic"]
	path = BitMagic
	url = https://github.com/tlk00/BitMagic.git
[submodule "SIMDCompressionAndIntersection"]
	path = SIMDCompressionAndIntersection
	url = https://github.com/lemire/SIMDCompressionAndIntersection.git
[submodule "TurboPFor-Integer-Compression"]
	path = TurboPFor-Integer-Compression
	url = https://github.com/powturbo/TurboPFor-Integer-Compression.git
[submodule "unordered_dense"]
	path = unordered_dense
	url = https://github.com/martinus/unordered_dense.git
